@import "../modules/config-font";
@import "../modules/font";
@import "../modules/color";
@import "../modules/card";
.dashboard-container {
  width: 80%;
  max-height: calc(100vh - 60px);
  height: 100%;
  overflow-y: scroll;
  .nav-breadcumb {
    margin: 10px 1rem;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 20px;
    em {
      font-weight: 600;
      font-style: normal;
    }
  }
  .profile-wrapper {
    margin: 1rem;
    background-color: $text-white;
    border-radius: 4px;
    .wrapper-header {
      background-color: transparent;
      height: 60px;
      @include vertical-center-left;
      padding: 1rem;
      border-bottom: 1px solid #ebedf2;

      svg {
        width: 17px;
        height: 17px;

        path {
          stroke: $theme-green;
        }
      }
      .elc_ui-text {
        margin-left: 1rem;
        color: $text-black;
        font-weight: 500;
        font-size: 17px;
      }
    }
    .content-wrapper {
      padding: 16px 1.4rem;
      .title-bar {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: $title-gray;
        height: 54px;
        padding: 1rem 2rem;
        color: $text-black;
        font-size: 15px;
        font-weight: 500;
        @include flex-space-between;
        img {
          height: 15px;
        }
      }
      .content-section {
        border: 1px solid #ebedf2;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 1rem 2rem;
        .user-profile-pic {
          width: 10rem;
          height: 10rem;
          background: url("../images/Image-292.png");
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 50%;
          border: 2px solid $text-gray;
          position: relative;
          .edit-icon {
            position: absolute;
            bottom: 0rem;
            right: 0.1rem;
            background: #fff;
            width: 40px;
            height: 40px;
            cursor: pointer;
            padding: 7px;
            @include vertical-center;
            @include card-shadow;
            border-radius: 50%;
          }
        }
        .user-info {
          padding: 1rem 0;
          .elc_ui-text {
            color: $text-black;
            margin-bottom: 1rem;
            &.label {
              margin-bottom: 0.2rem;
              color: $text-gray;
            }
            &:last-child {
              margin-bottom: 0;
            }
            .radio-input {
              label {
                &::after {
                  border: 2px solid $theme-green !important;
                  background-color: $theme-green;
                }
              }
              input[type="radio"]:checked + label::before {
                border-color: $theme-green !important;
              }
            }
          }
        }
        .profile-description {
          position: relative;
          margin-top: 2rem;
          font-size: 14px;
          line-height: 22px;
          .label {
            position: absolute;
            top: -1.2rem;
            left: 0rem;
            font-size: 11px;
            color: $text-gray;
          }
        }
      }
    }
  }
  .footer {
    margin-top: 3rem;
    background-color: $text-white;
    @include flex-space-between;
    font-size: 12px;
    div {
      color: $text-gray;
      &:nth-child(2) {
        span {
          color: $text-black;
          font-weight: 600;
        }
      }

      padding: 1rem;
      @include vertical-center-left;
      span {
        @include vertical-center;
        padding: 0 1rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .dashboard-container {
    width: 100%;
    .profile-wrapper {
      .content-wrapper {
        .content-section {
          padding: 1rem 10px;
          .user-profile-pic {
            margin-top: 24px;
            width: 90px;
            height: 90px;
            .edit-icon {
              width: 30px;
              height: 30px;
              bottom: 0;
              right: 0;
              img {
                width: 16px;
              }
            }
          }
          .user-info {
            .elc_ui-text {
              margin-bottom: 5px;
              &:first-child {
                font-size: 24px;
              }
              font-size: 16px;
              &.label {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
